* {
  margin: 0;
  padding: 0;

  html {
    font-size: 62, 5%;
  }

  .navbar .flex-1 {
    flex: 1;
    flex-basis: 100%;
  }
}


nav {
  background-color: white;
  height: auto;
  margin: 0rem 0rem 3rem 0px;
}
.body {
  margin: 8rem 3rem 8rem 3rem;
}

.probarscroll {
  margin: 0px 0px 20rem 0px;
}



@import "../bootstrap/scss/bootstrap.scss";
