$titulos: "POST";
$general: Karla;

 * {
  margin: 0;
  padding: 0;

  html {
    font-size: 62, 5%;
  }

  .navbar .flex-1 {
    flex: 1;
    flex-basis: 100%;
  }
}
@font-face {
  font-family: "POST";
  src: url("../fonts/POST.OTF");
}



nav {
  background-color: white;
  height: auto;
  margin: 0rem 0rem 3rem 0px;
  font-family: $general;
}
.body {
  margin: 8rem 3rem 8rem 3rem;
}

.xxx {
    margin: 8rem 0rem 8rem 0rem;
}

.texto {
    margin: 2rem 1rem 2rem 1rem,;
}


//tipografia
.titulos {
    font-family: $titulos;
    font-size: 2rem;
}

.subtitulos {
    font-family: $titulos;
    font-size: 1.5rem;
}

.general {
    font-family: $general;
    font-size: 1rem;
}

//img
.img1{
    transform: rotate(1deg);
}

.img-1 {
    transform: rotate(-1deg);
}

.cassete {
    transform: rotate(-4deg);
}
.footer {
    font-family: $general;
    font-size: 0.8rem;
    font-weight: lighter
}
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "../bootstrap/scss/bootstrap.scss";
