$titulos: "POST";
$general: Karla;

 * {
  margin: 0;
  padding: 0;

  html {
    font-size: 62, 5%;
  }

}
@font-face {
  font-family: "POST";
  src: url("../fonts/POST.OTF");
}



/*html,body{
    overflow-x: hidden;
    color:black;
    font-family:'Opens Sans',helvetica;  
    height:100%;
    width:101%;
    margin: 0px;
    padding: 0px;
  }*/

  body {
      overflow-x: hidden;
  }
  
 
  
nav {
  background-color: white;
  height: auto;
  margin: 0rem 0rem 3rem 0px;
  font-family: $general;
}
.body {
margin: 8rem 5rem 8rem 3rem;
}

.xxx {
    margin: 8rem 0rem 8rem 0rem;
}

.texto {
    margin: 2rem 1rem 2rem 1rem,;
}


#venado {
    margin: 12rem 8rem 6rem 8rem;
}

.formulario {
    margin: 5rem 7rem 8rem 7rem;
}

//tipografia
.titulos {
    font-family: $titulos;
    font-size: 2rem;
    transform: rotate(-1deg);
}

.subtitulos {
    font-family: $titulos;
    font-size: 1.5rem;
    transform: rotate(-1deg);
}

.general {
    font-family: $general;
    font-size: 1rem;
}

//texto

.destacados {
    font-family: $titulos;
    font-size: 2rem;
    transform: rotate(-1deg);
    margin: 4rem 0rem 4rem 0rem;
}
//img
.img1{
    transform: rotate(1deg);
}

.img-1 {
    transform: rotate(-1deg);
}

.cassete {
    transform: rotate(-4deg);
}
.footer {
    font-family: $general;
    font-size: 0.8rem;
    font-weight: lighter
}
#button-up{
    width:40px;
    height:40px;
    display:flex;
    justify-content:center;
    align-items: center;
    color:black;
    border-radius:20px;
    font-size:20px;
    position:fixed;
    bottom:20px;
    right:20px;
    cursor:pointer;
    border:4px solid transparent;
    transition: all 300ms ease;
    transform:scale(0);
    
}

// Menu hamburguesa 

@media (max-width: 768px) {
.navbar-collapse {
    height: 100vh;
    font-size: 2rem;
    padding: 2rem;
}
.collapse {
    font-size: 2rem;
    padding: 2rem;
}

}

.navbar-toggler, .navbar-toggler {
    border: none !important;
  }

 /* own scrollbar */
html {
    /* scrollbar firefox */
    scrollbar-color: rgb(255, 255, 255) rgb(206, 206, 206);
}

/* Note: The -webkit-scrollbar is not supported by Firefox or IE and Edge. */

::-webkit-scrollbar {
    /* width */
    width: 12px;
}

::-webkit-scrollbar-track {
    /* Track */
    box-shadow: inset 0 0 5px grey;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    /* Handle */
    background:rgb(206, 206, 206);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: rgb(110, 110, 110);
}

::-webkit-scrollbar-track-piece {
    /* not handle on */
    background: white;
}

// carrousel
.color {
    background-color: rgba(0, 0, 0, 0.377);
}

#subir {
    transform: translateY(-15%);
}
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "../bootstrap/scss/bootstrap.scss";
